@import '../../../variables';

.svar {

  &__radio-box {
    margin-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    border: 1px solid @navGra40;
    border-radius: 0.25rem;
  }
  &__radio-gruppe {
    display: flex;
    flex-direction: row;
    //margin-left: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid @navLysGra;
  }

}
