@import '../../../node_modules/nav-frontend-core/less/_variabler';

.layout {
    &__print-header {
        display: none;
    }

    &__wrapper {
        background-color: @navLysGra;
        min-height: 50rem;
        padding: 1.5rem 1rem 5rem;
    }
    &__content {
        max-width: 60rem;
        background-color: white;
        padding: 2rem;
        margin: auto;
        border-radius: 0.25rem;
    }

    &__react-to-print-wrapper {
        display: none;
    }

    @media (min-width: @screen-sm-min) {
        &__react-to-print-wrapper {
            display: flex;
            justify-content: flex-end;
        }
    }

    @media print {
        &__print-header {
            display: block;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }

        &__knapp {
            display: none;
        }
    }
}
