.layoutWrapper {
  min-height: 50rem;
  padding: 1.5rem 0 5rem;
  background-color: var(--a-gray-100);
}

.layoutContent {
  max-width: 60rem;
  background-color: white;
  padding: 3rem 0 3rem;
  margin: auto;
  border-radius: 0.25rem;
}

.layoutPrintHeader {
  display: none;
}

@media print {
  .layoutPrintHeader {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}
