.downloadButtonStyle {
    height: 60px;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    padding: 10px 20px 10px 10px;
    background-color: var(--a-bg-default);
}

/*--screen-sm-min*/
@media (min-width: 768px) {
    .downloadButtonStyle {
        width: 250px;
    }
}
