.downloadButtonStyle{
  height: 60px;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
  padding: 10px 20px 10px 10px;
}

.downloadButtonStyle:hover svg {
    color: white;
}

@media (--screen-sm-min) {
  .downloadButtonStyle {
    width: 250px;
  }
}

