@import '../../node_modules/nav-frontend-core/less/_variabler';

.index {
    max-width: @screen-md-min;
    padding: 1.25rem 1.25rem 3rem;
    background-color: white;

    @media (min-width: 700px) {
        margin: 0 auto;
    }
}

.layout__content {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
}

.viste-du-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: repeat(1fr, 4);
}

.viste-du-header {
    grid-column: 1 / 3;
    grid-row: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
}

.viste-du-icon {
    grid-column: 1;
    margin-right: 1rem;
}
.viste-du-paragraf {
    grid-column: 2;
    margin-top: 0;
}
.viste-du-link {
    grid-column: 2;
}


.lenkepanel-sykefravaer-kalkulator{
    border: 1px solid rgba(106, 106, 106, 1)
}

.lenkepanel-sykefravaer-child-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.lenkepanel-sykefravaer-ikon {
    margin-right: 1rem;
    grid-row: 1 / 3;
}

.lenkepanel-sykefravaer-child-wrapper p {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
    grid-row: 1 / 3;
}

.lenkepanel-sykefravaer-child-wrapper span {
    margin-right: 1rem;
    justify-self: end;
}

.infoPanel-kolonner {
    display: grid;
    @media (min-width: @screen-sm-min) {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    row-gap: 1rem;
    min-height: 375px;
}

.section-header {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
}

.sub-section-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.bold-text {
    font-weight: 700;
}

.margin-topp-4rem {
    margin-top: 4rem;
}

.margin-bunn-1rem {
    margin-bottom: 1rem;
}

.margin-bunn-2rem {
    margin-bottom: 2rem;
}

.horizontal-line {
    border-top: 1px solid #C9C9C9;
    width: 100%;
}

.gra-avrundet-boks {
    padding: 1rem 2rem 1rem 1rem;
    border: 1px solid black;
    border-radius: 4px;
    background: rgba(241, 241, 241, 1);
}

.infoPanel-kolonner div {
    width: 100%;
    height: 100%;
}

.alternatingDiscList {
    li:nth-child(odd) {
        list-style-type: disc;
    }
    li:nth-child(even) {
        list-style-type: none;
    }
}

ul.spaced-list {
    li:not(:first-child) {
        margin-top: 2rem;
    }
}