.vissteDuContainer {
  border-radius: 10px;
  background: #FAFAFA;
  border: 1px solid black;
  padding: 1.5rem;
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "ikon paragraf"
    ". link"
    ". link";
}

/*--screen-sm-min*/
@media (min-width: 768px) {
  .vissteDuContainer {
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
  }
}

.visteDuHeader {
  grid-area: header;
  margin-top: 0;
  margin-bottom: 0.75em;
}

.visteDuIcon {
  grid-area: ikon;
  margin-right: 1rem;
}

.visteDuParagraf {
  grid-area: paragraf;
}

.visteDuLink {
  grid-column: 2;
}
