@import '../../../node_modules/nav-frontend-core/less/_variabler';

.situasjonqa {
    &__tittel {
        margin-bottom: 0rem;
    }

    &__undertittel {
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    hr.skillelinje {
        color: @navGra40;
        margin: 1rem auto auto;
        width: 100%;
    }

    div &__info-panel {
        margin: 1rem auto auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow-wrap: break-word;
        &-ja {
            background-color: @navGronnLighten80;
            border: 1px solid @navGronn;
        }
        &-nei {
            background-color: #F7FBFF;
            border: 1px solid @navBla;
        }
        &-en-nei{
            background-color: @navLysBlaLighten80;
        }
        span.bold {
            font-weight: bold;
        }
    }
}
